.app {
  height: 100%;
}

.customShellbarTitle {
  color:white;
  position: absolute;
  top: -11px;
  right: 44%;
}

@media (height: 1920px) {
  .customShellbarTitle {
    right: 28%;
  }
}

@media (max-height: 1100px) {
  .customShellbarTitle {
    right: 40%;
  }
}

.flex-chat-container {
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  height:1200px; /* sadly, we're required to set at least the container height explicitly */
}
@media (max-height: 1100px) {
  .flex-chat-container {
    height:990px; /* sadly, we're required to set at least the container height explicitly */
  }
}
@media (height: 1920px) {
  .flex-chat-container {
    height:1855px; /* sadly, we're required to set at least the container height explicitly */
  }
}
.flex-chat-section {
  overflow:hidden;
  transition:flex 0.3s ease-out; /* note that we're transitioning flex, not height! */
  height:auto;
  flex:1;
  padding-right: 10px;
}
.flex-chat-section.collapsed {
  flex: 0;
}

.deviceCard {
  margin-top: 15px;
}

@media (height: 1920px) {
  .deviceCard {
    margin-top: 10px;
  }
}

.scrollableAndShowBottom {
  background-color: #f9f9f9;
  height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}
.scrollableAndShowBottom2Row {
  height: 500px;
}
.scrollableAndShowBottom1Row {
  height: 1100px;
}

@media (max-height: 1100px) {
  .scrollableAndShowBottom {
    height: 230px;
  }
  .scrollableAndShowBottom2Row {
    height: 394px;
  }
  .scrollableAndShowBottom1Row {
    height: 890px;
  }
}

@media (height: 1920px) {
  .scrollableAndShowBottom {
    height: 525px;
  }
  .scrollableAndShowBottom2Row {
    height: 835px;
  }
  .scrollableAndShowBottom1Row {
    height: 1763px;
  }
}

.userBot {
  background: #9fff9c !important;
}

.userPerson {
  background: #fffeaa !important;
}

.header-toolbar {
  position:sticky;
  z-index: 42;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 5px -5px #0a6ed1;
}

.ui5-logo {
  height: 2rem;
  margin-left: 2rem;
}

.app-title {
  margin-left: 1rem;
}

.app-content {
  height: calc(100% - 3rem);
  padding: 0 1rem;
  width: calc(100% - 2rem);
}

.create-todo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #b3b3b3;
  box-sizing: border-box;
}

.add-todo-element-width {
  width: auto;
}

#add-input {
  flex: auto;
}

#date-picker {
  margin: 0 0.5rem 0 0.5rem;
}

.li-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.li-content-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.edit-btn {
  margin-right: 1rem;
}

.dialog-content {
  max-width: 320px;
  padding: 2rem 2rem;
}

.dialog-footer {
  padding: 0 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.title-textarea {
  height: 100px;
  display: inline-block;
  width: 100%;
}

.date-edit-fields {
  margin-top: 1rem;
}

@media(max-width: 600px) {
  .create-todo-wrapper {
    flex-direction: column;
  }

  .add-todo-element-width  {
    width: 100%;
  }

  #date-picker {
    margin: 0.5rem 0 0.5rem 0;
  }
}